<br><br><br>
<div class="product_card">
  <h1><%= @product.name %></h1>
  <h3>Price: $<%= @product.cost %></h3>
  <h3>Country of Origin: <%= @product.country %></h3>
  <p><%= link_to 'Write a Review!', new_product_review_path(@product) %></p>
</div>

<br><br>
<div class="comments_container" style="overflow">
  <h1>Reviews</h1>
  <% if @product.reviews.any? %>
  <% @product.reviews.each do |review| %>
  <div class="comment_head">
    <h4>Rating: <%= review.rating %></h4>
    <h4>Author: <%= review.author %></h4>
  </div>
  <div class="comment_content">
    <p><%= review.content %></p>
  </div>
  <br><br>
  <% end %>
    <% else %>
    <p>There are no reviews for this product. <%= link_to "Add One Here!", new_product_review_path(@product)%><p>
      <% end %>
</div>

<br><br><br>
<div class="card">
  <h2>Admin</h2>
  <p><%= link_to 'Edit Product Details', edit_product_path(@product) %>
    <p><%= link_to "Delete this Product", product_path(@product),
    :data => {:confirm => "You sure?",
      :method => "delete"} %></p>
</div>
