<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Specialty Foods</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Welcome to Mario's Specialty Food Products</h1>
    <h5 id='all_products_link'><%= link_to 'See all products', new_product_path %></h5>
    <h5 id='home_link'><%= link_to 'Return to Home', products_path %></h5>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
